.pat {
    stroke-dashoffset: 300;
    stroke-dasharray: 300;
    fill-opacity: 0;
    animation: aa 3s  linear forwards;
}

@keyframes aa {
    60% {
        stroke-dashoffset: 0;
    }
    60% {
        fill-opacity: 0;
    }
    70% {
        fill-opacity: 0;
    }
    90%{
        stroke-dashoffset: 0;
        fill-opacity: .5;
    }

    100% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
        stroke-opacity: 0;
    }
}



.logo-area{
    /*border: 1px solid #f00;*/
    width: 320px;
    height: 104px;
    position: absolute;
    top: 7px;
    left: 40px;
}

.logo-area a{
    width: 301px;
    height: 102px;
    /*border:1px solid #0a2b1d;*/
    position: absolute;
    display: block;
}

.logo-area2{
    /*border: 1px solid #fff0000;*/
    width: 401px;
    height: 104px;
    position: absolute;
    top: 10px;
    left: 20px;
    display: none;
    background: url("../images/logo/logo-png.png") 0 0 no-repeat;
}

.logo-area2 a{
    width: 401px;
    height: 104px;
    /*border:1px solid #0a2b1d;*/
    position: absolute;
}

@media screen and (max-width: 1024px) {
    .logo-area{
        left: 0;
    }
}