*{
    margin: 0;
    padding: 0;
    list-style:none;
    font-family: 'Open Sans','微軟正黑體';
    text-decoration: none;
    box-sizing: border-box;
}


body{
    position: relative;
    width: 100%;
    min-width: 1080px;
    background-color: #fff;


}

.bg_area{
    position: absolute;
    z-index: 1;
}

.container{
    position: absolute;
     width: 100%;
    height: 1081px;
    overflow: hidden;


 }

.container_info{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 1080px;
    height: 1081px;

    z-index: 2;
}

.back_to_firstPage{
    width: 120px;
    height: 40px;
    background-color: #000;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 70px;
    top:80px;
    z-index: 3;
}

.back_to_firstPage b{
    color:#fff;
    width: 120px;
    height: 40px;
    display: block;
    text-align: center;
    font-size: 21px;
    line-height: 40px;
    letter-spacing: 2px;
}

.back_to_firstPage:hover{
    opacity: .6;
    transition: .8s;
    box-shadow: 0 0 15px #fafa00;
}

.title{
    position: relative;
    height: 130px;
    margin-top: 20px;
    overflow: hidden;
    display: block;
}

.title img{
    margin-top: -50px;
    margin-left: 190px;
    opacity: 0;
    animation: title_move 3s ease forwards;
    -webkit-animation: title_move 3s ease forwards;
}

@keyframes title_move {
    0%{
        opacity: 0;
        margin-top: -50px;
    }
    50%{
        opacity: 0;
    }
    100%{
        margin-top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes title_move {
    0%{
        opacity: 0;
        margin-top: -50px;
    }
    50%{
        opacity: 0;
    }
    100%{
        margin-top: 0;
        opacity: 1;
    }
}

.bottom{
    position: relative;
    width: 172px;
    height: 80px;
    cursor: pointer;
    transition: .6s;
    margin-top: 5px;
}

.bottom_area{
    position: relative;
    display: inline-block;
    top: 0;

}

.bottom1{
    background: url("../images/black_cookie/bottom/按鈕-首頁_1.png") 0 0 no-repeat;
}

.bottom1:hover{
    background: url("../images/black_cookie/bottom/按鈕-首頁_2.png") 0 0 no-repeat;
    opacity: .6;
}

.bottom2{
    background: url("../images/black_cookie/bottom/按鈕-黑酵母萃取是什麼_1.png") 0 0 no-repeat;
}

.bottom2:hover{
    background: url("../images/black_cookie/bottom/按鈕-黑酵母萃取是什麼_2.png") 0 0 no-repeat;
    opacity: .6;
}

.bottom3{
    background: url("../images/black_cookie/bottom/按鈕-黑酵母對寵物的好處_1.png") 0 0 no-repeat;
}

.bottom3:hover{
    background: url("../images/black_cookie/bottom/按鈕-黑酵母對寵物的好處_2.png") 0 0 no-repeat;
    opacity: .6;
}

.bottom4{
    background: url("../images/black_cookie/bottom/按鈕-獨特之處_1.png") 0 0 no-repeat;
}

.bottom4:hover{
    background: url("../images/black_cookie/bottom/按鈕-獨特之處_2.png") 0 0 no-repeat;
    opacity: .6;
}

.bottom5{
    background: url("../images/black_cookie/bottom/按鈕-哪裡買_1.png") 0 0 no-repeat;
}

.bottom5:hover{
    background: url("../images/black_cookie/bottom/按鈕-哪裡買_2.png") 0 0 no-repeat;
    opacity: .6;
}

.info_box{
    position: absolute;
    right: 20px;
    width: 870px;
    height: 800px;
    border: 10px solid #F3B116;
    border-radius: 40px;
    display: inline-block;
    background-color: rgba(255,255,255,.7);
    overflow: auto;
}

.info_box .info_box_ul > li{
    width: 900px;
    height: 800px;
    position: absolute;
}


.dog_area{
    top: 600px;
    left: -10px;
    width: 280px;
    height: 400px;

    position: absolute;
    padding-top: 20px;
    z-index: 3;
}

.dog_head{
    left: 0;
    right: 0;
    margin: auto;
    width: 198px;
    height: 241px;
    position: absolute;

    background: url("../images/black_cookie/dog/狗_睜眼.png") 0 0 no-repeat;
    animation: dogheadmove 2s  infinite;

}

@keyframes dogheadmove {
    0%{
        transform:rotate(340deg);
    }
    50%{
        transform:rotate(380deg);
        background: url("../images/black_cookie/dog/狗_睜眼.png") 0 0 no-repeat;
    }
    65%{
        background: url("../images/black_cookie/dog/狗_閉眼.png") 0 0 no-repeat;
    }
    66%{
        background: url("../images/black_cookie/dog/狗_閉眼.png") 0 0 no-repeat;
    }
    60%{
        background: url("../images/black_cookie/dog/狗_睜眼.png") 0 0 no-repeat;
    }
    100%{
        transform:rotate(340deg);
    }
}

@-webkit-keyframes dogheadmove {
    0%{
        transform:rotate(340deg);
    }
    50%{
        transform:rotate(380deg);
        background: url("../images/black_cookie/dog/狗_睜眼.png") 0 0 no-repeat;
    }
    65%{
        background: url("../images/black_cookie/dog/狗_閉眼.png") 0 0 no-repeat;
    }
    66%{
        background: url("../images/black_cookie/dog/狗_閉眼.png") 0 0 no-repeat;
    }
    60%{
        background: url("../images/black_cookie/dog/狗_睜眼.png") 0 0 no-repeat;
    }
    100%{
        transform:rotate(340deg);
    }
}

.dog_area img{
    top: 220px;
    left: 50px;
    position: absolute;
}

.info_none{
    display: none;
}

.info_block{
    display: block;
}

.info_box .info_box_ul > li:nth-child(5){
    width: 850px;
    height: 650px;
    position: absolute;

}

.product_pic{
    position: absolute;
    right:53px;
    top:400px;
}

.h_detail_pic{
    position: absolute;
    left: 310px;
    top:90px;
}

.footer{

    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    bottom: 0;
}

.footer ul{
    height: 60px;
    background-color: rgba(255,255,255,.6);
}
