.footer{
    height: 76px;
    background-color: rgba(255,255,255,.4);
    width: 100%;
    position: relative;
}

.footer ul li{
    margin: 3px 0;
}

.footer ul li:nth-child(1){
    margin-top: 10px ;
}

.footer ul{
    /*border: 1px solid #aaa;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}